html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
html, body, .root {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  line-height: 1.5;
}
body, .app {
  background: #f5f5f5;
}

/* .app{
  display:flex;
}


/* ListUniversities */

.list-universities {
  padding-top: 60px;
  width:50%;/*added*/
  position:relative;
}
.list-universities-top {
  position: fixed;
  width: 50%;/*was 100%*/
  top: 0;
  border-bottom: 1px solid #d5d8df;
  display: flex;
}

.search-universities {
  width: 100%;
  padding: 20px 20px 20px 60px;
  /* background-image: url('./icons/search.svg'); */
  background-repeat: no-repeat;
  background-position: 20px center;
  background-size: 1.2em;
  font-size: 1.2em;
  border: 0;
  outline: none;
}

.showing-universities {
  text-align: center;
  margin: 20px 0;
}
.showing-universities button {
  color: blue;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: inherit;
}

.universities-list {
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.universities-list-item {
  padding: 20px;
  background: white;
  display: flex;
}

@media (min-width: 600px) {
  .universities-list-item {
    margin: 20px;
    border: 1px solid #d5d8df;
    border-radius: 4px;
  }
}

.university-avatar {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  flex-shrink: 0;
}

.contact-details {
  padding-left: 20px;
  border-left: 1px solid #eee;

  flex: 1;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  justify-content: center;
}
.university-details p {
  margin: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Map */
#map {
  height: 100%;
}

/* Modal */
.modal{
  width:50%;
  border-radius:4px;
  margin-left:auto;
  margin-right:auto;
  padding:24px;
  background-color: #fff;
  z-index:3;
  position:fixed;
  top:25%;
  left:25%;
  /* display:none; */
}

.modal-overlay{
  width:100%;
  height:100%;
  z-index:2;
  background-color:#000;
  opacity:0.5;
  position:fixed;
  top:0;
  left:0;
  /* display:none; */
  margin:0;
  padding:0;
}


body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
